@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

:root {
  --main-background-hue: #fefefe;
  --on-background-hue: #f8f8f8;
  --on-background-hue-2: #f0f0f0;
  --on-background-hue-3: #e0e0e0;
  --on-background-hue-4: #d6d6d6;

  --text-primary-hue: #1f2937;
  --primary-hue-1: rgb(62, 77, 237);
  --primary-hue-2: #2530a9;
  --primary-hue-075: rgba(62, 77, 237, 0.75);
  --secondary-hue-1: rgb(40, 184, 141);
  --error-hue: #ed583e;
  --error-hue-lighter: #f1b2a1;
  --info-hue: #3e4ded;
  --warning-hue: #ed9b3e;
  --confirm-hue: #2fb828;
  --order-creation: #38bdf8;
  --order-devis: #6366f1;
  --order-prototype: #f59e0b;
  --order-development: #10b981;
  --order-test: #f43f5e;
  --order-delivery: #8b5cf6;
}

.warning__informational__box {
  background-color: var(--error-hue-lighter);
  border: 1px solid var(--warning-hue);
  font-weight: bold;
  border-radius: 10px;
  padding: 10px;
  margin: 10px 0;
  width: fit-content;
}

.global-additional_content {
  display: flex;
  flex-direction: row;
  gap: 20px;
  min-height: 40px;
  .outline-bar {
    width: 5px;
    min-height: 100%;
    border-radius: 50px;
    background-color: var(--primary-hue-2);
  }
}

.showcase-card {
  padding: 0;
  overflow: hidden;
  background-color: var(--on-background-hue-2);
  border-radius: 20px;
  width: var(--project-card-width);
  border: 5px solid var(--on-background-hue-2);
  height: fit-content;
  transition: 0.3s;
  cursor: pointer;
  position: relative;
  &:hover {
    background-color: var(--on-background-hue-3);
    border-color: var(--on-background-hue-3);
    transform: translate(2px, -2px);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
  }
}

.link__text {
  text-decoration: none;
  cursor: pointer;
  color: var(--primary-hue-1);
  font-weight: bold;
  &:hover {
    color: var(--primary-hue-2);
  }
}

body {
  font-family: "Nunito", sans-serif;
  width: calc(100vw - 10%);
  padding: 0% 5% 50px 5%;
  margin: 0;
  overflow-x: hidden;
}

#root {
  padding-top: calc(120px);
  display: flex;
  flex-direction: column;
  gap: 100px;

  .global__welcome__screen {
    display: flex;
    flex-direction: row;
    gap: 100px;
    height: 80vh;
    align-items: end;
    justify-content: space-between;
    .global-welcome__screen__head {
      width: 60%;
      display: flex;
      flex-direction: column;
      align-items: start;
      justify-content: space-between;
      height: 100%;
      gap: 50px;
      .global-welcome__screen__head__advantages {
        display: flex;
        flex-direction: column;
        gap: 30px;
        .advantages__cards {
          display: flex;
          flex-direction: row;
          gap: 20px;
          .advantages__card {
            background-color: var(--on-background-hue);
            padding: 20px;
            border-radius: 20px;
            display: flex;
            height: fit-content;
            flex-direction: column;
            gap: 10px;
            svg {
              width: 50px;
              height: 50px;
            }
          }
        }
      }
    }
  }
}

#colorful {
  color: var(--primary-hue-1);
}

.global__container__title {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: start;
  h2,
  p {
    margin: 0;
    padding: 0;
  }

  h2 {
    font-size: 25px;
    opacity: 0.5;
    font-weight: normal;
  }

  p {
    font-size: 15px;
    max-width: 50%;
  }
}

.global__container {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.promotion__container {
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: center;
  text-align: center;
  .promotion__content {
    h1 {
      font-size: 30px;
      font-weight: bold;
    }
    p {
      font-size: 20px;
      max-width: 600px;
    }
  }

  .promotion__buttons {
    display: flex;
    flex-direction: row;
    gap: 10px;
    font-size: 20px;
  }
}

.process-diagram {
  width: 70%;
  margin: auto;
}

.action-button:not(.icon-only-button) {
  transition: 0.3s;
  * {
    transition: 0.3s;
  }
  border: 2px solid transparent;
  padding: 10px 15px;
  border-radius: 10px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  text-wrap: nowrap;
  cursor: pointer;
  &.fit-content {
    width: fit-content;
  }
  width: calc(100% - 30px);
  &.primary-button {
    background-color: var(--primary-hue-1);
    color: white;
    * svg,
    * path {
      fill: white;
    }
    &:hover {
      background-color: var(--primary-hue-2);
    }
  }
  &.secondary-button {
    border-color: var(--primary-hue-1);
    color: var(--primary-hue-1);
    &:hover {
      border-color: var(--primary-hue-2);
      color: var(--primary-hue-2);
    }
  }
}
.icon-only-button {
  &:hover {
    svg,
    path {
      fill: var(--primary-hue-2) !important;
    }
  }
}
.tertiary-button {
  text-decoration: none;
  color: var(--primary-hue-1);
  padding: 0 !important;
  &:hover {
    color: var(--primary-hue-2);
  }
}




@media (max-width: 1000px) {
  body {
    height: 100vh;
    overflow-y: auto !important;
  }
  #root {
    flex-direction: column;
    width: 100%;
    overflow-y: auto !important;
    height: fit-content;
    .global__welcome__screen {
      height: fit-content;
      flex-direction: column;
      .global-welcome__screen__head {
        width: 100%;
        .global-welcome__screen__head__advantages {
          width: 100%;
          .advantages__cards {
            flex-direction: column;

          }
        }
      }
    }

    .pricing-global__container {
      width: 100%;
      flex-direction: column;
      .pricing-global__container__content  {
        width: 100%;
        .pricing-global__container__content__product {
          width: 100%;

          .pricing-global_included, .pricing-global_about, .pricing-global_targets {
            padding: 0;
          }
        }
      }

      .global-product__picker__items {
        flex-direction: row;
        border-radius: 15px;
        width: calc(100% - 20px);
        gap: 0px;
        align-items: center;
        .global-product__picker__item  {
          text-align: center;
        }
      }
    }

    .global__process_description, .promotion__container {
      height: fit-content;
    }

    
  }

}